body {
    margin: 0;
}

#map {
    height: calc(100vh - 65px);
}

#controls {
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

#header {
    max-height: 100%;
}

#header h1,
#header h2 {
    margin: 0;
    font-family: sans-serif;
}

#header h1 {
    font-size: 30px;
}

#header h2 {
    font-size: 16px;
}

.user-location-marker {
    background-color: #007bff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid white;
}

.toilet-marker {
    background-color: yellow;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid red;
}

#locateButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    width: 60px;
    height: 60px;
    z-index: 5000;
}

#infoButton {
    position: fixed;
    top: 150px;
    left: 8px;
    padding: 10px;
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    width: 40px;
    height: 40px;
    z-index: 5001;
}

#locateButton > img,
#infoButton > img {
    max-width: 100%;
}

#infoDialog {
    display: none;
}

.ui-dialog {
    z-index: 5002 !important;
}
